*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: none;
    list-style: none;
    text-decoration: none;
}

:root{
    --main-color:#ce00fd;
    --text-color:#fff;
    --bg-color:#1e1c2a;
    --bid-font:5rem;
    --h2-font:2.25rem;
    --p-font:0.9rem;
    --background-image:url(tierra-mallorca-JXI2Ap8dTNc-unsplash.jpg);

}

*::selection{
    background:var(--main-color);
    color: #fff;
}
body{
    color: var(--text-color);
    background: var(--bg-color);
}

header{
    position: fixed;
    top: 0%;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 170px;
    background-color: var(--bg-color);
   
}

.logo{
    color:var(--main-color);
    font-weight: 600;
    font-size: 2.4rem;
}

.navbar{
    display: flex;
}

.navbar a {
    color: var(--text-color);
    font-size: 1.1rem;
    padding: 10px 20px;
    font-weight: 500;

}

.navbar a:hover{
    color: var(--main-color);
    transition: .3s;
}

#menu-icon{
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

section{
    padding: 70px 17%;
}

.home{
width: 100%;
min-height: 90vh;
display: grid;
grid-template-columns: repeat(2,1fr);
grid: gap 1.5em;
align-items: center;
}

.home-img img{
    max-width: 100%;
    width: 600px;
    height: auto;
    margin-right: 20px;
    margin-top: 80px;
}

.home-text h1{
    font-size: var(--big-font);
    color:rgb(80, 107, 255);
    font-size: 45px;
}

.home-text h2{
    font-size: var(--h2-font);
    margin: 1rem 0 2rem;
    font-size: 20px;

}

.btn{
    display: inline-block;
    padding: 10px 20px;
    background: var(--main-color);
    text-align: center;
    color: #fff;
    border-radius: 25px;
    width: 200px;
    margin: 20px 10px;
    font-weight: bold;
    cursor: pointer;
}

.btn:hover{
    border: none;


}


.about{
    display:grid;
    grid-template-columns: repeat(2,2fr);
    grid-gap:1.5rem;
    align-items: center;
}

.about-img img{
    max-width: 300%;
    width: auto;
    height: auto;
    margin: 20px;
    position: absolute;
    right: 900px;
    margin-top: -180px;

}

.about-text h2{
    color: rgb(80, 107, 255);
    font-weight: 600;


}
.about-text h2{
    font-size: 50px;
    margin: 1rem 0 2rem;
   
}

.about-text p{
    margin: 0.8rem 0 1.8rem;
    line-height: 1.8;
}

.about-text span{
    color: var(--text-color);
    font-size: var(--h2-font);
    margin: 1rem 0 2rem;
    font-size: 20px;
}

.services{
   
    width: 100%;
    min-height: 90vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid:0.5rem;
    align-items: center;
}

.services-img img{
    max-width: 300%;
    width: auto;
    height: auto;
    position: absolute;
    right: 250px;
    bottom:-980px;
    margin: 2px;

}

.services-text{

    color:rgb(80, 107, 255);
    font-size: 45px;
     font-size: var(--h2-font);
    margin: 1rem 0 2rem;
    font-size: 20px;
    align-items: center;
    position: absolute;
    bottom: -500px;

}

.contact{
    width: 100%;
    min-height: 90vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid:0.5rem;
    align-items: center;
    
}

.contact-img img{
    
    max-width: 50%;
    width: 150px;
    height: 150px;
    position: absolute;
    right: 1100px;
    bottom:-1300px;
    margin: 1px;

}

.contact-text{
    
    color:rgb(100, 159, 249);
    font-size: 45px;
     font-size: var(--h2-font);
    margin: 1rem 0 2rem;
    font-size: 20px;
    align-items: center;
    position: absolute;
    bottom: -1350px;
    left: 500px;

}

.team members{
    color: aqua;
}